<div *ngIf="user">
    <div class="boton rounded-md">
        <button mat-raised-button (click)="goBackToList()">Back to List</button>
    </div>
    <mat-card class="user-card mx-auto px-auto">
        <mat-card-header>
            <mat-card-title class="text-yellow-600 p-3 bg-white/80 rounded mb-8 text-2xl">User Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}</p>
            <p><strong>Password:</strong> {{ user.password }}</p>
            <p><strong>Country:</strong> {{ user.country }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Role:</strong> {{ user.rol }}</p>
            <p><strong>Comision:</strong> {{ user.comision }}</p>
        </mat-card-content>
    </mat-card>

    <div class="boton rounded-md">
        <button mat-raised-button  (click)="editUser(user)">Edit User</button>
    </div>
    <div class="boton rounded-md">
        <button mat-raised-button color="warn" (click)="deleteUser(user)">Delete User</button>
    </div>
</div>
