<h1 app-uppercase-titles class="p-3 text-center bg-white/80 rounded mb-4">Courses Management</h1>

<div *ngIf="isAdmin"class="flex justify-end mb-3">
   <button (click)="onCreate()" mat-button class="boton">
     Agree
   </button>
</div>

<table mat-table [dataSource]="courses" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> Course Name </th>
      <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/YYYY HH:MM '}} </td>
      </ng-container>

    <ng-container matColumnDef="actions" *ngIf="isAdmin">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button class="Actions" (click)="onDelete(element.id)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button class="Actions" (click)="onEdit(element)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button class="Actions" [routerLink]="element.id" routerLinkActive="router-link-active" mat-icon-button >
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
