<div *ngIf="course">
  <div class="boton rounded-md">
    <button mat-raised-button (click)="goBackToList()">Back to List</button>
  </div>
  <mat-card class="user-card mx-auto px-auto">
    <mat-card-header>
      <mat-card-title class="text-yellow-600 p-3 bg-white/80 rounded mb-8 text-2xl">Course Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>ID:</strong> {{ course.id }}</p>
      <p><strong>Name:</strong> {{ course.courseName }}</p>
      <p><strong>Created At:</strong> {{ course.createdAt | date }}</p>
    </mat-card-content>
  </mat-card>

  <div class="boton rounded-md">
    <button mat-raised-button (click)="editCourse(course)" >Edit User</button>
  </div>
  <div class="boton rounded-md">
      <button mat-raised-button color="warn" (click)="deleteCourse(course)">Delete User</button>
  </div>
</div>
  
<mat-card class="user-card mx-auto px-auto mt-4">
  <mat-card-header>
    <mat-card-title class="text-yellow-600 p-3 bg-white/80 rounded mb-8 text-2xl">Inscriptions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="inscriptions">
      <mat-list>
        <mat-list-item *ngFor="let inscription of inscriptions">
          <p>Inscription ID: {{ inscription.id }}</p>
          <p>Course ID: {{ inscription.courseId }}</p>
          <p>Buyer ID: {{ inscription.buyerId }}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
