.boton{
  background-color: #d46f16;
  background-image: linear-gradient(43deg, #d46f16 0%, #c8aa50 46%, #ffe570 100%);
  cursor: pointer ;
  padding: 8px;
  margin: 2px;
}
.boton:hover{
 border: solid 2px gray;
}
.example-form-field {
width: 400px;
height: 80px;
}
.example-full-width {
width: 100%;
}
.divider {
  border-top: 1px solid orange; 
  padding-top: 5px;
  padding-bottom: 5px;
}
.container {
display: flex;
align-items: center;
padding-right: 15px;
padding-left: 15px;
}
.button {
margin-left: auto !important; 
}