<h2 mat-dialog-title appUppercaseTitles class="text-black p-3 text-center bg-white/80 rounded mb-8 text-xl">Courses</h2>

<mat-dialog-content>
  <form [formGroup]="coursesForm">
    <mat-form-field>
      <mat-label>Course Name</mat-label>
      <input matInput formControlName="courseName">
      <mat-error>{{ coursesForm.get('courseName')?.errors | validationErrors }}</mat-error>
    </mat-form-field>
    
    <mat-form-field class="p-3">
      <mat-label>Creator Date</mat-label>
      <input matInput [matDatepicker]="dateCreatorPicker" formControlName="createdAt" class="p-2">
      <mat-datepicker-toggle matSuffix [for]="dateCreatorPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateCreatorPicker></mat-datepicker>
      <mat-error>{{ coursesForm.get('createdAt')?.errors | validationErrors }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onCreate()" class="boton">Agree</button>
    <button mat-button mat-dialog-close class="boton">No Thanks</button>
</mat-dialog-actions>
