<h2 mat-dialog-title appUppercaseTitles class="text-black p-3 text-center bg-white/80 rounded mb-8 text-2xl">User</h2>

<mat-dialog-content>
  <form [formGroup]="userFormEdit" class="py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <mat-form-field class="example-form-field">
        <mat-label class="pt-4">First Name</mat-label>
        <input matInput formControlName="firstName" type="text" autocomplete="given-name">
        <mat-error>{{ userFormEdit.get('firstName')?.errors | validationErrors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text" autocomplete="family-name">
        <mat-error>{{ userFormEdit.get('lastName')?.errors | validationErrors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Password</mat-label>
        <input [type]="revealPassword ? 'text' : 'password'" formControlName='password' matInput autocomplete="new-password"/>
        <button (click)='revealPassword = !revealPassword' matSuffix mat-icon-button >
            <mat-icon>visibility</mat-icon>
        </button>
        <mat-error>{{ userFormEdit.get('password')?.errors | validationErrors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" type="text" autocomplete="country">
        <mat-error>{{ userFormEdit.get('country')?.errors | validationErrors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" autocomplete="email">
        <mat-error>{{ userFormEdit.get('email')?.errors | validationErrors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol" autocomplete="role">
          <mat-option value="ADMIN">ADMIN</mat-option>
          <mat-option value="USER">USER</mat-option>
        </mat-select>
        <mat-error>{{ userFormEdit.get('rol')?.errors | validationErrors }}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Comision</mat-label>
        <mat-select formControlName="comision" autocomplete="off">
          <mat-option value="AdministrativeTasks">Administrative tasks</mat-option>
        </mat-select>
        <mat-error>{{ userFormEdit.get('comision')?.errors | validationErrors }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-center">
  <button mat-button (click)="onSave()" class="boton">Save</button>
  <button mat-button mat-dialog-close class="boton">Cancel</button>
</mat-dialog-actions>
