  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="p-2">
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" type="text" >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName"type="text" >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" >
        </mat-form-field>
    </div>
        <mat-form-field class="example-form-field">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" type="text" >
        </mat-form-field>
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"  type="email" >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol">
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="User">User</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Comision</mat-label>
            <mat-select formControlName="comision">
                <mat-option value="CuisinePro">CuisinePro</mat-option>
                <mat-option value="CuisineBegin">CuisineBegin</mat-option>
                <mat-option value="Pastry">Pastry</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button mat-flat-button class="" >Send</button>
    </div>
</form>

<pre>{{userForm.value | json}}</pre>


  