<mat-drawer-container class="dashboard-container fondo" autosize>
    <mat-drawer #drawer class="side" mode="side">
      <span><img src="../../../assets/logo.png" alt="logo" class="logo mx-auto"></span>
      @if (showFiller) {
        <div class="text-white text-center">
          Inputs to log in
        </div>
      }

      <mat-nav-list role="list" class="py-5 text-center">
        <a #homeLink="routerLinkActive" routerLinkActive [activated]="homeLink.isActive" routerLink='home' mat-list-item class="listLinks">Home</a>
        <a #usersLink='routerLinkActive' routerLinkActive [activated]="usersLink.isActive" routerLink='users' mat-list-item class="listLinks">Users</a>
        <a #coursesLink='routerLinkActive' routerLinkActive [activated]="coursesLink.isActive" routerLink='courses' mat-list-item class="listLinks">Courses</a>
        <a (click)="logout()" mat-list-item class="listLinks">Log Out</a>
      </mat-nav-list>

      <button  mat-raised-button class="boton p-2 m-2">
        Sign In
      </button>
      <button (click)="showFiller = !showFiller" mat-raised-button class="boton p-2 mx-3">
        Log In
      </button>

    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar class="toolbar">
            <button  (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon class="iconMenu">menu</mat-icon>
            </button>
            <span><img src="../../../assets/logo.png" alt="logo" class="logo"></span>
            <span class="mx-2 text-xl text-yellow-600">Cuisine Academy</span>
            <span class="example-spacer"></span>
            <div class="mx-auto" *ngIf="authUser$ | async">
              <img src="../../../assets/perfil.jpeg" alt="perfil" class="perfil">
              <span class="text-white mx-auto">{{ (authUser$ | async)?.firstName }} {{ (authUser$ | async)?.lastName }}</span>
              <span class="text-yellow-600"> {{ (authUser$ | async)?.email }}</span>
              <span class="text-yellow-600"> {{ (authUser$ | async)?.rol }}</span>
            </div>
            <span class="text-gray-400">{{ currentDateTime }}</span>
          </mat-toolbar>
          <div class="p-3">
             <router-outlet></router-outlet>
          </div>
    </div>
</mat-drawer-container>
  
