.dashboard-container{
  height: 100%;
}
.logo{
  width: 85px;
}
.toolbar{
  background-color: rgb(26, 25, 25);
  padding: 5px;
}
.iconMenu{
  background-color: white;
  border-radius: 10px;
  height: 25px;
  width: 25px;
}
.perfil{
  width: 35px;
  border-radius: 100px;
}
.side{
  background-color: #fffbfb;
  background-image: linear-gradient(0deg, #c9c9c9 70%, #171818 90%);
  border-right: 2px solid goldenrod;
}
.listItem:hover{
  background-color: #d46f16;
  background-image: linear-gradient(43deg, #d46f16 0%, #c8aa50 46%, #ffe570 100%);
  cursor: pointer ;
}
.boton{
  background: white;
}
.boton:hover{
 border: solid 2px goldenrod;
}
.fondo{
  background-image: url(../../../assets/f6.webp);
  background-size: cover;
}
.icon-white {
  color: rgb(39, 37, 37);
}
.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listLinks{
  color: white;
  font-size: bold;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cuisine-title {
  background: linear-gradient(43deg, #d46f16 0%, #c8aa50 46%, #ffe570 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
